@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  transition:  .5s linear;
  transition-property: color, opacity, width, height, background-color, font-size, z-index;
}

/* .bg-header {
    background-color: #eb3b3b;
} */

html {
    overflow-x: hidden;
}

html::-webkit-scrollbar {
    width: .5rem;
}

html::-webkit-scrollbar-track {
  background: #fff;
}

html::-webkit-scrollbar-thumb {
  background: rgb(206, 46, 46);
  border-radius: .5rem;
}

/* body {
    background-color: #b27b7b;
} */

/* .body-black {
    background-color: #b27b7b;
} */

a {
  color: #eb3b3b;
}
/* 
p.description {
  @apply dark:text-white bg-[#eee] dark:bg-stone-400 md:text-lg text-sm md:p-4 p-2;
}

p.description.hide {
  @apply hidden;
} */